<!-- Icon Cards-->
<div class="row">

    {% with title='Vehicles', class='primary', link='/vehicles', icon='car' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Mobile Computer', class='primary', link='/mobilecomputer', icon='laptop' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Computer Docks', class='primary', link='/mobilecomputerdock', icon='anchor' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Arbitrator System', class='primary', link='/arbitrator', icon='video' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Cradlepoint', class='primary', link='/cradlepoint', icon='wifi' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Keyboard', class='primary', link='/keyboard', icon='keyboard' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Computer Software Status', class='primary', link='/softwarestatus', icon='memory' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Front Camera', class='primary', link='/frontcamera', icon='camera' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Rear Camera', class='primary', link='/backcamera', icon='camera' %}
        {% include 'card.html' %}
    {% endwith %}

</div>
