<!-- Icon Cards-->
<div class="row">

    {% with title='Vehicles', class='primary', link='/vehicles', icon='car' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Mobile Computer', class='primary', link='/mobilecomputers', icon='laptop' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Computer Docks', class='primary', link='/mobilecomputerdocks', icon='anchor' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Arbitrator System', class='primary', link='/arbitrators', icon='video' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Cradlepoint', class='primary', link='/cradlepoints', icon='wifi' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Keyboard', class='primary', link='/keyboards', icon='keyboard' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Computer Software Status', class='primary', link='/softwarestatuses', icon='memory' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Front Camera', class='primary', link='/frontcameras', icon='camera' %}
        {% include 'card.html' %}
    {% endwith %}

    {% with title='Rear Camera', class='primary', link='/backcameras', icon='camera' %}
        {% include 'card.html' %}
    {% endwith %}

</div>
