{% extends 'base.html' %}
{% block content %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Inventory</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/rearcameras">Rear Cameras</a>
        </li>
        <li class="breadcrumb-item active"><span data-bind="text: camera().cameraID"></span></li>
    </ol>

    <!-- Page Content -->
    <h1><span data-bind="text: camera().cameraID"></span></h1>
    <hr>
    <div>
        <table class="info-table" data-bind="with: camera">
            <tbody>
             <tr>
                <td>Status</td>
                <td><span data-bind="text: status"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/static/js/rearcamera.js"></script>
    <script>
        ko.applyBindings(new DetailViewModel({{ data|tojson|safe }}));
    </script>
{% endblock %}
