<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Home</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/vehicles">
            <i class="fas fa-fw fa-car"></i>
            <span>Vehicles</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mobilecomputers">
            <i class="fas fa-fw fa-laptop"></i>
            <span>Mobile Computer</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/mobilecomputerdocks">
            <i class="fas fa-fw fa-anchor"></i>
            <span>Mobile Computer Dock</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/arbitrators">
            <i class="fas fa-fw fa-video"></i>
            <span>Arbitrator</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/cradlepoints">
            <i class="fas fa-fw fa-wifi"></i>
            <span>Cradlepoint</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/keyboards">
            <i class="fas fa-fw fa-keyboard"></i>
            <span>Keyboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/frontcameras">
            <i class="fas fa-fw fa-camera"></i>
            <span>Front Camera</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/backcameras">
            <i class="fas fa-fw fa-camera"></i>
            <span>Back Camera</span></a>
    </li>
</ul>