{% extends 'base.html' %}
{% block content %}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Inventory</a>
    </li>
    <li class="breadcrumb-item active">Vehicles</li>
</ol>

<!-- Page Content -->
<h1>Vehicles</h1>
<hr>
    <a class="btn btn-success btn-block col-sm-1" href="#" data-toggle="modal" data-target="#createModal">Add +</a>
<div class="row" data-bind="foreach: vehicles">
    <div class="col-xl-3 col-sm-6 mb-3" style="padding: 8px;">
        <div class="card">
            <div class="card-body">
                <h2 data-bind="text: unitNumber "></h2>
                <span data-bind="text: Make"></span> <span data-bind="text: model"></span><br />
                <small class="updated-time" data-bind="text: 'Last updated: ' + lastModifyDate"></small>
            </div>
            <a class="card-footer clearfix z-1" data-bind="attr: { href: '/vehicle/' + unitNumber }">
                <span class="float-left">View</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>
</div>

        <!-- Logout Modal-->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Insert Vehicle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" name="unitNumber" id="unitNumber" class="form-control" placeholder="Unit Number">
                            <label for="unitNumber">UnitNumber</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" name="make" id="make" class="form-control" placeholder="Make">
                            <label for="make">Make</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" name="model" id="model" class="form-control" placeholder="Model">
                            <label for="model">Make</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="date" name="lastModDate" id="lastModDate" class="form-control" placeholder="Last Modify Date">
                            <label for="lastModDate">Last Modify Date</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="number" name="lastModDate" id="BadBoysCaught" class="form-control" placeholder="Bad Boys Caught">
                            <label for="BadBoysCaught">Bad Boys Caught</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="InsertVehicle()" data-dismiss="modal" id='insertButton'>Insert</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="/static/js/vehicles.js"></script>
{% endblock %}