{% extends 'base.html' %}
{% block content %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Inventory</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/vehicles">Vehicles</a>
        </li>
        <li class="breadcrumb-item active">{{ unitNum }}</li>
    </ol>

    <!-- Page Content -->
    <h1>{{ unitNum }} <span data-bind="text: ' - ' + vehicle().Make + ' ' + vehicle().model"></span></h1>
    <small class="updated-time" data-bind="text: 'Last updated: ' + vehicle().lastModifyDate"></small>
    <hr>
    <div data-bind="with: vehicle()">
        <div class="row">
            <div class="col" align="center">
                <div class="card text-white bg-danger o-hidden h-100" style="width: 145px;">
                    <div class="card-body">
                        <h1 class="text-center" data-bind="text: badBoysCaught">Vehicles</h1>
                        <small class="">Bad Boys Caught</small>
                    </div>
                </div>
            </div>
        </div>
        <button id = 'deleteButton'>Delete</button>
        <button id = 'updateButton`'>Update</button>
    </div>
    <br/>


    <div>
        <table class="info-table">
            <tbody>
             <tr>
                <td>PC Name</td>
                <td><span data-bind="text: pcName"></span></td>
            </tr>
            <tr>
                <td>Cradlepoint Card Number</td>
                <td><span data-bind="text: cradlepointCardNumber"></span></td>
            </tr>
             <tr>
                <td>Cradlepoint Cable Color</td>
                <td><span data-bind="text: cableColor"></span></td>
            </tr>
            </tbody>
        </table>
    </div>


{% endblock %}

{% block scripts %}
    <script src="/static/js/vehicle.js"></script>
    <script>
        ko.applyBindings(new VehicleDetailViewModel({{ data|tojson|safe }}));
    </script>
{% endblock %}
