{% extends 'base.html' %}
{% block content %}

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Inventory</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/vehicles">Vehicles</a>
        </li>
        <li class="breadcrumb-item active">{{ unitNum }}</li>
    </ol>

    <!-- Page Content -->
    <h1>{{ unitNum }} <span data-bind="text: ' - ' + vehicle().Make + ' ' + vehicle().model"></span></h1>
    <small class="updated-time" data-bind="text: 'Last updated: ' + vehicle().lastModifyDate"></small>
    <br />
    <hr>
    <button class="btn btn-danger" id='deleteButton'>Delete</button>
    <button class="btn btn-warning" id='updateButton' data-toggle="modal" data-target="#updateModal">Update</button>
    <hr>
    <div data-bind="with: vehicle()">
        <div class="row">
            <div class="col" align="">
                <div class="card text-white bg-danger o-hidden h-100" style="margin-left: 220px; width: 145px;">
                    <div class="card-body">
                        <h1 class="text-center" data-bind="text: badBoysCaught">Vehicles</h1>
                        <small class="">Bad Boys Caught</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>


    <div>
        <table class="info-table">
            <tbody>
             <tr>
                <td>PC Name</td>
                <td><span data-bind="text: pcName"></span></td>
            </tr>
            <tr>
                <td>Cradlepoint Card Number</td>
                <td><span data-bind="text: cradlepointCardNumber"></span></td>
            </tr>
             <tr>
                <td>Cradlepoint Cable Color</td>
                <td><span data-bind="text: cableColor"></span></td>
            </tr>
            </tbody>
        </table>
    </div>


<!-- Update Modal-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Vehicle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" name="make" id="make" class="form-control" placeholder="Make">
                            <label for="make">Make</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" name="model" id="model" class="form-control" placeholder="Model">
                            <label for="model">Make</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="date" name="lastModDate" id="lastModDate" class="form-control" placeholder="Last Modify Date">
                            <label for="lastModDate">Last Modify Date</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="number" name="lastModDate" id="BadBoysCaught" class="form-control" placeholder="Bad Boys Caught">
                            <label for="BadBoysCaught">Bad Boys Caught</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="UpdateVehicle()" data-dismiss="modal" id='insertButton'>Update</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script src="/static/js/vehicle.js"></script>
    <script>
        ko.applyBindings(new VehicleDetailViewModel({{ data|tojson|safe }}));
    </script>
{% endblock %}
